recursive-include gem/i18n *.mo
recursive-include gem/icons/ui *.png
recursive-include gem/icons/consoles *.png
recursive-include gem/icons/emulators *.png
recursive-include gem/config *.conf
recursive-include gem/config template.desktop
